@use "fonts" as fonts;
@use "./colors" as colors;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: fonts.$openSans !important;
    background-color: colors.$bgColor;
}
img{
    width: 100%;
    max-width: 100%;
}
ul{
    padding-left: 0;
    margin-bottom: 0;
}