@use "../utilities/index" as util;
.about-us-section{
    .about-wrapper{
        padding: 100px 0;
        // height: 100vh;
        .shapes{
            position: relative;
            height: 100h;
            .shape-1{
                position: absolute;
                top: -30px;
                right: 80px;
            }
            .shape-2{
                position: absolute;
                bottom: -580px;
                right: 75px;
                @media screen and (max-width:768px) {
                        bottom: -1283px;
                        right: 47px;
                  }
                @media screen and (max-width:692px) {
                        display: none;
                  }
            }
            img{
                max-width: 150px;
            }
        }
        .about-content{
            .wrapper{
                position: relative;
                .shape{
                    img{
                        max-width:800px;
                        position: absolute;
                        top: -120px;
                        left: -80px;
                        z-index: 1;
                        @media screen and (max-width:1580px) {
                            left: -50px;
                        }
                        @media screen and (max-width:1260px) {
                            width: 600px;
                            top: -50px;
                            left: 0px;
                          }
                          @media screen and (max-width:768px) {
                                width: 600px;
                                top: 160px;
                                left: 45px;
                                transform: rotate(-75deg);
                          }
                          @media screen and (max-width:692px) {
                                width: 400px;
                                top: 180px;
                                left: 30px;
                                transform: rotate(-66deg);
                          }
                          @media screen and (max-width:575px) {
                                width: 300px;
                                top: 230px;
                               
                          }
                          @media screen and (max-width:470px) {
                            top: 150px;
                           
                      }
                          @media screen and (max-width:400px) {
                            top: 140px;
                           
                      }
                          @media screen and (max-width:380px) {
                            display: none;
                           
                      }
                    }
                }
                .img{
                    display: flex;
                    justify-content: center;
                    margin-left: 250px;
                    width: 600px;
                    border: 30px solid util.$primaryColor;
                    border-radius: 50%;
                    position: relative;
                    &::before{
                        content: "";
                        width: 300px;
                        height: 800px;
                        left: 120px;
                        top: -130px;
                        position: absolute;
                        background-color: util.$primaryColor;
                    }
                    img{
                        width: 100%;
                        position: relative;
                        z-index: 2;
                    }
                    @media screen and (max-width:1760px) {
                        width: 500px;
                        &::before{
                            width: 200px;
                            height: 100%;
                        }
                      }
                    @media screen and (max-width:1580px) {
                        width: 400px;
                        &::before{
                            width: 100px;
                            height: 100%;
                        }
                      }
                    @media screen and (max-width:1400px) {
                        width: 50%;
                        margin: auto;
                        &::before{
                            width: 300px;
                            height: 800px;
                        }
                      }
                    @media screen and (max-width:1260px) {
                        &::before{
                            display: none;
                        }
                      }
                      @media screen and (max-width:768px) {
                        width: 80%;
                      }
                      @media screen and (max-width:600px) {
                        width: 95%;
                      }
                }
            }
            .right-content-wrapper{
                width: 600px;
                margin: auto;
                
                .icon-text{
                    display: flex;
                    font-size: 14px;
                    justify-content: center;
                    text-transform: uppercase;
                    color: util.$primaryColor;
                   align-items: center;
                   gap: 10px;
                   font-weight: 500;
                   font-family: util.$openSans;
                }
                h2{
                    font-family: util.$primaryFont;
                    font-size: 48px;
                    margin: 20px 0 20px 0;
                }
                > p{
                    color: util.$ashText;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #E0E0E0;
                    margin-bottom: 0;
                }
                .about-bottom{
                    
                    > div{
                        padding: 25px 0 0px 0;
                        @media screen and (max-width:1400px) {
                            width: 100%;
                            justify-content: center;
                        }
                        
                        &:first-child{
                            border-right: 1px solid #E0E0E0 ;
                            @media screen and (max-width:768px) {
                            border-right:0;
                            border-bottom: 1px solid #E0E0E0 ;
                            padding-bottom: 15px;
                           }
                        }
                        img{
                            max-width: 50px;
                        }
                        h3{
                            font-size: 18px;
                            font-family: util.$openSans;
                            text-transform: capitalize;
                        }
                        p{
                            color: util.$ashText;
                            font-size: 14px;
                        }
                    }
                    @media screen and (max-width:768px) {
                       flex-wrap: wrap;
                  }
                }
                @media screen and (max-width:1400px) {
                    width: 100%;
                    margin-top: 50px;
                    padding: 100px;
                    text-align: center;
                  }
                @media screen and (max-width:872px) {
                    margin-top: 150px;
                  }
                  @media screen and (max-width:600px) {
                    margin-top: 80px;
                    padding: 20px;
                    h2{
                        font-size: 35px;
                    }
                  }
            }
        }
    }
    
}